<section class="section ">
  <div class="container advantages">
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="/src/images/icons.svg#eco"></use>
        </svg>
        <p class="advantages__text">Бережём природу. <br>
            Эко-тара и проборы.</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="/src/images/icons.svg#serve"></use>
        </svg>
        <p class="advantages__text">28 дней без повторения, 
            более 300 блюд!</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="/src/images/icons.svg#time"></use>
        </svg>
        <p class="advantages__text">Бесплатно заменяем <br>
            блюда и ингредиенты.</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="/src/images/icons.svg#night"></use>
        </svg>
        <p class="advantages__text">Готовим ночью, упаковываем 
            и отправляем Вам!</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="/src/images/icons.svg#truck"></use>
        </svg>
        <p class="advantages__text">Ежедневная удобная <br> 
            и бесплатная доставка
            с 6:00 до 10:00</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="/src/images/icons.svg#clock"></use>
        </svg>
        <p class="advantages__text">Сохраняем Вашу энергию <br> 
            и до 14 часов в неделю 
            освобождая от готовки!</p>
      </li>
    </ul>
  </div>
</section>
