<section class="section hero">
<div class="hero__slider swiper">
  <ul class="hero_advertisement--list swiper-wrapper">
    <li class="swiper-slide">
      <div class="hero_advertisement--item" >
      <div class="hero__sliderBox">
        <h2 class="hero__sliderBox--title">
          Detox программа –
          <span class="hero__sliderBox--title-color">вкусное очищение</span>
          организма
        </h2>
        <p class="hero__sliderBox--descr">
          8 бутылочек
          <span class="hero__sliderBox--descr-color">натуральных смузи</span>
          и фрешей.
        </p>
        <div class="hero__sliderBox--order">
          <button class="hero__sliderBox--btn">Заказать</button>
          <p class="hero__sliderBox--price">
            Пробный день всего: </br>
            <span class="hero__sliderBox--price-color">427 грн</span>
          </p>
        </div>
      </div>
        <img
        src="./images/hero/hero_img_avocado.jpg"
        alt=""
        width="20px"
        class="hero__slider--img"
      />
      </div>
    </li>
    <li class="swiper-slide">
      <div class="hero_advertisement--item second" >
      <div class="hero__sliderBox">
        <h2 class="hero__sliderBox--title second">
          Сервис правильного питания. </br>
          <span class="hero__sliderBox--title-color">Худей быстро!</span>
        </h2>
        <div class="hero__sliderBox--order">
          <button class="hero__sliderBox--btn">Заказать</button>
          <p class="hero__sliderBox--price">
            Пробный день </br>
            <span class="hero__sliderBox--price-color">-30 %</span>
          </p>
        </div>
      </div>
        <img
        src="./images/hero/hero_img_avocado.jpg"
        alt=""
        width="20px"
        class="hero__slider--img"
      />
      </div>
    </li>
    <li class="swiper-slide">
      <div class="hero_advertisement--item third" >
      <div class="hero__sliderBox">
        <h2 class="hero__sliderBox--title third"><span class="hero__sliderBox--title-color">Доверьтесь профессионалам.</span> 
Я Кобылинский Кирилл - основатель.</h2>
        <p class="hero__sliderBox--descr">
          <span class="hero__sliderBox--descr-color ">Мастер спорта</span>
          Мастер спорта Украины по тяжелой атлетике. 
           <span class="hero__sliderBox--descr-color">Высшее образование</span> института физкультуры(НуфвсУ).
        </p>
        <div class="hero__sliderBox--order">
        <button class="hero__sliderBox--btn third">Мой инстаграм</button>
        <p class="hero__sliderBox--price third">Всегда открыт для клиентов</p>
        </div>
      </div>
      <img
        src="./images/hero/hero_img_avocado.jpg"
        alt=""
        width="20px"
        class="hero__slider--img"
      />
      </div>
    </li>
    <li class="swiper-slide">
      <div class="hero_advertisement--item" >
      <div class="hero__sliderBox">
        <h2 class="hero__sliderBox--title">
          Кето питание -  <span class="hero__sliderBox--title-color">вкусное и экстремальное</span> быстрое похудение
        </h2>
        <p class="hero__sliderBox--descr">4 приема пищи.</p>
        <div class="hero__sliderBox--order">
        <button class="hero__sliderBox--btn">Заказать</button>
        <p class="hero__sliderBox--price">Пробный день </br>
          <span class="hero__sliderBox--price-color">от 490грн</span>
        </p>
        </div>
      </div>
      <img
        src="./images/hero/hero_img_avocado.jpg"
        alt=""
        width="20px"
        class="hero__slider--img"
      />
      </div>
    </li>
  </ul>
  </div>
  <!-- tablet/desctop ----------------------->
  <ul class="hero__foodConstuctor--list">
    <li class="hero__foodConstuctor--item">
      <button type="button" class="hero__foodConstuctor--btn">ККал
         <p class="hero__foodConstructor--descr">Программы 800 - 2400 ккал</p>
      </button>
    </li>
    <li class="hero__foodConstuctor--item">
      <button type="button" class="hero__foodConstuctor--btn">
        <svg class='hero__foodConstuctor--svg' width="40px" height="40px">
          <use href="./images/icons.svg#icon-hero_fish"></use>
        </svg>
        <p class="hero__foodConstructor--descr">Fish</p>
      </button>
    </li>
    <li class="hero__foodConstuctor--item">
      <button type="button" class="hero__foodConstuctor--btn">
        <svg class="hero__foodConstuctor--svg" width="40px" height="40px">
          <use href="./images/icons.svg#icon-hero_carrot"></use>
        </svg>
        <p class="hero__foodConstructor--descr">Veggie</p>
      </button>
    </li>
    <li class="hero__foodConstuctor--item">
      <button type="button" class="hero__foodConstuctor--btn">
        <svg class="hero__foodConstuctor--svg" width="40px" height="40px">
          <use href="./images/icons.svg#icon-hero_bottle"></use>
        </svg>
        <p class="hero__foodConstructor--descr">Detox</p>
      </button>
    </li>
    <li class="hero__foodConstuctor--item">
      <button type="button" class="hero__foodConstuctor--btn">
        <svg class="hero__foodConstuctor--svg" width="40px" height="40px">
          <use href="./images/icons.svg#icon-hero_meat"></use>
        </svg>
        <p class="hero__foodConstructor--descr">Keto</p>
      </button>
    </li>
    <li class="hero__foodConstuctor--item">
      <button type="button" class="hero__foodConstuctor--btn">
        <!-- <div class="hero__foddConstructor--btn-box"> -->
            <span class="hero__foodConstuctor--btn-text">5</span>
        <svg class="hero__foodConstuctor--svg" width="40px" height="40px">
          <use href="./images/icons.svg#icon-hero_table"></use>
        </svg>
        <!-- </div> -->
        <p class="hero__foodConstructor--descr">5 стол</p>
      </button>
    </li>
  </ul>
  <div class="hero__sliderNav is-hidden">
  <div class="swiper-button-prev">
      <svg class="hero__sliderArrow--svg" width="8px" height="16px">
          <use href="./images/icons.svg#icon-hero_arrow_prev"></use>
        </svg>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next">
    <svg class="hero__sliderArrow--svg" width="8px" height="16px">
          <use href="./images/icons.svg#icon-hero_arrow_next"></use>
        </svg>
  </div>
  </div>
  <!-- mobile ------------------------>
  <div class="hero-foodConstuctor-positionBox">
  <ul class="hero__foodConstuctor--list-mob">
    <li class="hero__foodConstuctor--item-mob">
      <button type="button" class="hero__foodConstuctor--btn-mob">ККал</button>
       <p class="hero__foodConstructor--descr-mob marginTop">Программы </br> 800 - 2400 ккал</p>
    </li>
    <li class="hero__foodConstuctor--item-mob">
      <button type="button" class="hero__foodConstuctor--btn-mob">
        <svg class="hero__foodConstuctor--svg-mob" width="40px" height="40px">
          <use href="./images/icons.svg#icon-hero_fish"></use>
        </svg>
      </button>
      <p class="hero__foodConstructor--descr-mob">Fish</p>
    </li>
    <li class="hero__foodConstuctor--item-mob">
      <button type="button" class="hero__foodConstuctor--btn-mob">
        <svg class="hero__foodConstuctor--svg-mob" width="40px" height="40px">
          <use href="./images/icons.svg#icon-hero_carrot"></use>
        </svg>
      </button>
      <p class="hero__foodConstructor--descr-mob">Veggie</p>
    </li>
    <li class="hero__foodConstuctor--item-mob">
      <button type="button" class="hero__foodConstuctor--btn-mob">
        <svg class="hero__foodConstuctor--svg-mob" width="40px" height="40px">
          <use href="./images/icons.svg#icon-hero_bottle"></use>
        </svg>
      </button>
      <p class="hero__foodConstructor--descr-mob">Detox</p>
    </li>
    <li class="hero__foodConstuctor--item-mob">
      <button type="button" class="hero__foodConstuctor--btn-mob">
        <svg class="hero__foodConstuctor--svg-mob" width="40px" height="40px">
          <use href="./images/icons.svg#icon-hero_meat"></use>
        </svg>
      </button>
      <p class="hero__foodConstructor--descr-mob">Keto</p>
    </li>
    <li class="hero__foodConstuctor--item-mob">
      <button type="button" class="hero__foodConstuctor--btn-mob">
            <span class="hero__foodConstuctor--btn-text-mob">5</span>
        <svg class="hero__foodConstuctor--svg-mob" width="40px" height="40px">
          <use href="./images/icons.svg#icon-hero_table"></use>
        </svg>
      </button>
      <p class="hero__foodConstructor--descr-mob">5 стол</p>
    </li>
  </ul>
  </div>
  <div>
  <div class="hero__decoration"></div>
  </div>
  <ul class="hero_networks-list"></ul>
</section>
