<section class="footer">
  <div class="container">
    <div class="footer__box">
      <ul class="footer__menu--list">
        <li class="footer__menu--item">
          <a class="footer__menu--link" href="./index.html"
            >Программы питания</a
          >
        </li>
        <li class="footer__menu--item">
          <a class="footer__menu--link" href="./about-us.html">О нас</a>
        </li>
        <li class="footer__menu--item">
          <a class="footer__menu--link" href="./business-lunch.html"
            >Бизнес-ланчи</a
          >
        </li>
        <li class="footer__menu--item">
          <a class="footer__menu--link" href="./shop.html">Gastro Shop</a>
        </li>
        <li class="footer__menu--item">
          <a class="footer__menu--link" href="./blog.html">Блог</a>
        </li>
      </ul>
      <div class="footer__logo--box">
        <svg class="footer__logo"></svg>
        <h2 class="footer__logo--name">сервис здорового питания</h2>
      </div>
      <div class="footer__networks--box">
        <ul class="footer__rules--list">
          <li class="footer__rules--item"></li>
          <li class="footer__rules--item"></li>
        </ul>
        <div class="footer__contacts">
          <ul class="footer__networks--list">
            <li class="footer__networks--item">
              <a href="" class="footer__networks__link">
                <svg class="footer__networks__icon" width="20px" height="20px">
                  <use href=""></use>
                </svg>
              </a>
            </li>
            <li class="footer__networks--item"></li>
            <li class="footer__networks--item"></li>
            <li class="footer__networks--item"></li>
          </ul>
          <a href="" class="footer__tell"></a>mpm
        </div>
      </div>
    </div>
  </div>
</section>
